@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
    box-sizing: border-box;
}

:root{

    --white: #F4F6F0;
    --muted: #B2BDB3;
    --lime: #C3F85C;
    --bg: #101112;
    --line: #343B36;
    --purple: #BCABFF;
    --blue: #5E5BFF;
    --faintline: #E2E1E5;
    --text: #47526A;

}

/* navbar global */

.navbar {

    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1% 3%;

}

.navbar__logo {
    
    font-size: 30px;
    font-weight: bolder;
    color: #0A1222;

}

.navbar__links {

    display: flex;
    gap: 20px;
    margin: 10px 0px;
    

}

.navbar__link {

    text-decoration: none;
    color: #0A1222;

}

.navbar__search {

    font-size: 30px;

}

.navbar__login {

    background-color: var(--blue);
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 10px;
    color: white;


}

.navbar__link--active {

    color: var(--blue);
    border-bottom: 3px solid var(--blue);

}

/* login page */

.registration{

    padding: 50px;
}

.registration__intro {

    display: flex;
    flex-direction: column;
    gap: 8px;

}

.registration__intro p {

    color: var(--blue);

}

.registration__intro h1 {

    margin-bottom: 30px;

}

.registration__inputs {

    display: flex;
    flex-direction: column;
    gap: 16px;

}

.registration__inputs label {

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 70%;

}

.registration__inputs input {

    width: 50%;
    padding: 20px;
    border: 1px solid #E2E1E5;
    border-radius: 5px;

}

.registration__campus-options {

    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.registration__campus-options label {

    display: flex;
    align-items: center;
    gap: 15px;

}

.registration__campus-options input {

    appearance: none;
    border: 1px solid #E2E1E5;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    cursor: pointer;

}

.registration__campus-options input:checked {

    background-color: var(--blue);
    box-shadow: inset 0 0 0 2px white;
    

}

.registration__submit {

    width: 70%;

}

.registration__submit button {

    width: 50%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
    

}

/* campus page */

.campus {

    display: flex;
    flex-direction: column;

}

.campus__section1 {

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 56px;
    align-items: start;
    

}

.campus__section1--intro {

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.campus__section1--intro p {

    color: var(--blue);
    font-size: 12px;

}

.campus__section1--intro h1 {

    font-size: 36px;
    font-weight: bolder;

}

.campus__section1--ville {

    display: flex;
    gap: 50px;

}

.campus__section1--ville > div {

    border: 1px solid var(--faintline);
    border-radius: 10px;
    width: 100%;
    padding: 20px 20px 30px;
    color: var(--text);
    
}

.campus__section1--ville h1 {

    color: var(--blue);
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 15px;
}

.campus__section2 {

    padding: 56px;

}

/* footer global */

.footer {

    background-color: var(--bg);
    padding: 40px 56px 28px;
    color: var(--white);

}

.footer__columns {

    display: flex;
    justify-content: space-between;
    
}

.footer__columns p{

    color: var(--muted);
    width: 350px;

}

.footer__columns > div {

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.footer__columns a {

    text-decoration: none;
    color: var(--white);
    
}

.footer__heading {

    color: var(--lime);

}

.footer__divider {

    margin: 28px 0px;

}

.footer__bottom {

    display: flex;
    justify-content: space-between;
    color: var(--muted);
    font-size: 14.5px;

}
